{% extends "layout.html" %}
  
{% block body %}
<h2>Deleting an ingredient</h2>
<p>Insert the number of the ingredient you want to delete.</p>
<form method="POST" action="{{ url_for('ingredients_delete') }}">
  <table>
    <tr>
      <td>
	 {{ form.id.label }}
      </td>
      <td>
         {{ form.id }}
      </td>
      <td>
        <ul>
          {% for error in form.id.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td colspan="2">
	 <input type="submit" value="Delete ingredient"/>
      </td>
    </tr>

  <table>
    <tr>
      <th>#</th>
      <th>Name</th>
    </tr>
    {% for ingredient in ingredients %}
    <tr>
      <td>{{ ingredient.id }}</td>
      <td>{{ ingredient.name }}</td>
    </tr>
    {% endfor %}
  </table>

</form>
{% endblock %}
