{% extends "layout.html" %}

{% block body %}

<h2>{{ recipe.name }}</h2>

<p></p>

<p>Time required: {{ recipe.timeNeeded }}</p>

<p></p>

<h3>Ingredients</h3>

<p></p><p></p><p></p><p></p>

<div class="container">
  <div class="row">
    <div class="col">
      <h4>Ingredient</h4>
    </div>
    <div class="col">
      <h4>Amount</h4>
    </div>
  </div>
  {% for ingredient, recipe_ingredient in ings_recipeings %}
  <div class="row">
    <div class="col">{{ ingredient.name }}</div>
    <div class="col">{{ recipe_ingredient.amount }}</div>
  </div>
  {% endfor %}
</div>

<p></p><p></p>

<h3>Instructions</h3>

<p></p>


<p>
{{ recipe.instructions }}
</p>

<p></p><p></p>

<p><a href="{{ url_for('recipes_updateform', recipe_id=recipe.id) }}"> Edit recipe </a></p>

{% endblock %}
