{% extends "layout.html" %}

{% block body %}

<h2>{{ recipe.name }}</h2>

<p></p>

<p>Time required: {{ recipe.timeNeeded }}</p>

<p></p>

<h3>Ingredients</h3>

<p></p><p></p><p></p><p></p>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Amount</th>
  </tr>
  {% for ingredient, recipe_ingredient in ings_recipeings %}
  <tr>
    <td>{{ ingredient.name }}</td>
    <td>{{ recipe_ingredient.amount }}</td>
  </tr>
  {% endfor %}
</table>

<p></p><p></p>

<h3>Instructions</h3>

<p></p>


<p>
{{ recipe.instructions }}
</p>

<p></p><p></p>

<p><a href="{{ url_for('recipes_updateform', recipe_id=recipe.id) }}"> Edit recipe </a></p>

{% endblock %}
