{% extends "layout.html" %}

{% block body %}
<h2>List of all recipes</h2>
<p></p>
  <table>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Time required</th>
      <th>Instructions</th>
    </tr>
    {% for recipe in recipes %}
    <tr>
      <td>{{ recipe.id }}</td>

      <td><a href="{{ url_for('show_recipe', recipe_id=recipe.id) }}"> {{ recipe.name }} </a></td>
      <td>{{ recipe.timeNeeded }}</td>
      <td>{{ recipe.instructions }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
